<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ARLocationQR"
        tools:replace="android:theme">

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".appinfo.AppInfoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".qr.QrActivity"
            android:exported="false" />

        <activity
            android:name=".destination.DestinationActivity"
            android:exported="false" />

        <activity
            android:name=".ar.ArNavigationActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />



    </application>

</manifest>
